
$bg-body:  #fff;
$color-body: #000;
$font-body : 'Lato', sans-serif;
$font-weight-body : 300;
$font-titre : 'Abril Fatface', serif;
$font-weight-titre:400;

$general-color: #242520;
$second-color:  #d1c8be;

$bg_section_dark:#242520;
$color_section_dark:#fff;

$bg_section_light:#fcf1e6;
$color_section_light:#000;

$bg-header: #242520 ;
$color-header:#fff;
$color-header-hover: $second-color;

$bg_footer_left:#111;
$color_footer_left : #fff;
$footer-hover:$second-color;

//$color-header-hover-not-sticky: $second-color;
$color-chevron: #d79a10;
$bg-hashtag :   #000;